.drawerHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.drawerHandle {
  width: 40px;
  height: 4px;
  border-radius: 999px;
  background-color: var(--mantine-color-gray-4);
  margin: 0 auto;
}

.drawerTitle {
  font-weight: 600;
}
