.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1;
  border-radius: var(--mantine-radius-sm);
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  cursor: pointer;
  transition: all 150ms ease;
}

.iconButton:hover {
  background-color: light-dark(var(--mantine-color-blue-0), var(--mantine-color-dark-5));
  border-color: var(--mantine-color-blue-4);
}

.iconButton[data-active] {
  background-color: light-dark(var(--mantine-color-blue-1), var(--mantine-color-dark-5));
  border-color: var(--mantine-color-blue-6);
}
